body {overflow: auto;}

#content{
    padding-top: 20px;
}
/* Hide validation, author, date */
#postamble{
    visibility: hidden;
}

#table-of-contents{
    width: 100%;
    padding: 20px;
}

.outline-2{
    width: 100%;
}

#post-content{
    padding: 20px;
}

.outline-2 > h2 {
    color: #3498db;
    border-bottom: 1px solid #FFF;
}

img {max-width: 90%;}

/* .outline-3 > h3 { */
/*     color: #186B19; */
/* } */

/* .outline-4 > h4 { */
/*     color: #98c44d; */
/* } */

@media (min-width: 768px){
    body {overflow-x: hidden;}
    #content{
        padding-top: 40px;
        padding: 20px;
        display: grid;
        grid-template-columns: 350px auto;
        grid-template-rows: 75px auto;
        grid-template-areas:
            "header   header"
            "contents post";
    }
    .title {
        grid-area: header;
    }
    #table-of-contents{
        padding: 0px;
        margin-top: 75px;
        position: fixed;
        grid-area: contents;
    }
    #post-content{
        padding: 0px;
        grid-area: post;
    }
}
