{{define "content"}}
<!DOCTYPE html>
<html>
    <div class="content">
        <h1>Contact</h1>
        <ul>
            <li>
                
                <a href="mailto:tiitus.jarvinen@gmail.com">Email: Tiitus.Jarvinen@gmail.com</a>
            </li>
            <li>
                
                <a href="https://www.linkedin.com/in/tiitus-jarvinen">LinkedIn</a>
            </li>
            <li>
                
                <a href="https://www.github.com/tipej">GitHub</a>
            </li>
        </ul>
    </div>
</html>
{{end}}
